* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
/* header  */

header {
    height: 5rem;
    width: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 100;
}

nav {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1.8rem;
}
.logo a{
    color: black;
}


@media screen and (max-width: 786px) {
    .links {
        display: none;
    }
    .logo {
        margin: auto;
    }
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding-left: 20px;
}

nav ul li a:hover {
    color: rgb(0, 132, 255);
    transition: 0.2s;
}

/* hero */

.hero-page {
    height: 100vh;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
}

@media screen and (min-width: 786px) {
    .hero-image img {
        margin-left: 50px;
    }
}

.hero-image img {
    height: 400px;
    border-radius: 20px;
}

@media screen and (max-width: 786px) {
    .hero-page {
        height: 100vh;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .hero-image img {
        height: 300px;
        margin-bottom: 50px;
    }
}

.explore {
    width: 150px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;
    border-radius: 10px;
    color: aliceblue;
    margin-top: 30px;
}
a{
    text-decoration: none;
}

.explore:hover {
    background-color: rgb(0, 132, 255);
    transition: 0.2s;
}

.compass {
    padding-left: 10px;
}

.hero-content {
    margin-left: 100px;
}

.hi {
    font-size: 3rem;
    line-height: 50px;
}

.hero-name {
    font-size: 5rem;
    font-weight: 600;
    color: rgb(0, 132, 255);
}

.dev {
    font-size: 1.5rem;
}
.hero-button{
    width: 150px;
}

@media screen and (min-width: 786px) {
    .nope{
        display: none;
    }       
}
@media screen and (max-width: 786px) {
    .hero-content {
        width: 80%;
    }
    
    .hi {
        font-size: 2rem;
        line-height: 50px;
    }
    .hero-name {
        font-size: 3rem;
        font-weight: 600;
        color: rgb(0, 132, 255);
    }
    .dev {
        font-size: 1.2rem;
    }
    .disless{
        display: none;
    }
}
.card-page{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 5rem;
}
.card{
    height: 400px;
    width: 300px;
    background-color: rgb(248, 231, 231);
    border-radius: 16px;
    margin: 30px;
    box-shadow: -25px 25px 15px rgba(0, 0,0,0.3);
    display: grid;
    place-items: center;
}
.card:hover{
    transform: translateY(-10px);
}
@media screen and (max-width: 786px) {
    .card-page{
        flex-direction: column;
    }
}
footer{
    height: 100px;
}